
.inicio{
    background-image: url("img/pink-flowers.jpg" );
    height: 255px;
    background-size: cover;
    background-position: center;

}
.inicio nav{
    position: relative;
    top: 5%;
    opacity: 0.6;
    border-radius: 10px;
}

.container-fluid{
    padding-right: 0px;
    padding-left: 0px; 
}  
    
.bg-light {
    background-color: #f7e6fa!important;
}

.nome1{
    position: relative;
    color: white;
    text-shadow: 2px 2px #000;
    font-family: 'Nanum Myeongjo', serif;
    }

.nome2{
    position: relative;
    color: white;
    text-shadow: 2px 2px #000;
    font-family: 'Heebo', sans-serif;
    }
.nome,{
    color: white;
    position: relative;
    text-align: center;
        
}
.trab1 img {
    height: 500px;

}
.trabalhos-row{
    background-color:#b9b0b0;
    border-top: #fff 3px dashed;
    padding-bottom: 13px;

}
.trabalhos{
    background-color:#b9b0b6;
    color: white;
    padding: 10px 0 30px 0;
    border-top: #fff 3px dashed;
    font-family: 'Nanum Myeongjo', serif;
}

.card {
    width: 100px;
    height: 350px !important;; 
    overflow: hidden !important;;
    padding: 0px !important;;
    margin:5px !important;;
    
}
.bg-dark {
    background-color: #a4929e!important;
}
.btn btn-primary{
    color: black !important;
    background-color: white !important;
    font-weight: bold;
}


.card-body{
    color: white;
    font-family: 'Heebo', sans-serif;
}
.card-title{
    color: black;
    font-weight: bold;  
    background-color: white;
    font-family: 'Nanum Myeongjo', serif;
}
.card-text{
    color: black;
    font-weight: bold;
    background-color: white;
    font-family: 'Nanum Myeongjo', serif;
}
/* .no-gutters{ 
    height: 350px;
    overflow: hidden;
    border: 2px solid #ccbbc7 !important;
    border-radius: 10px;
    } */
.contatos{
    background-color:#b9b0b6;
    color: white;
    padding: 10px 0 30px 0;
    border-top: #fff 3px dashed;
    font-family: 'Nanum Myeongjo', serif;
}
.me{
    border-radius: 50%;
    border: #fff solid 3px;
    width: 80px;
    height: 80px;
    }
.foto{
    float: left;
}

.depoimentos{
    position: relative; 
    bottom: 11%;
    
}
@media only screen and (max-width: 600px) {
    .nome1 {
        background-color: rgba(107,78,101,0.6);
        padding: 10px;
        border-radius: 10px;
        }
    .inicio{
        height: auto;
        padding-bottom: 15px;
    }
    .depoimentos{
    position:relative;
    bottom: 0%;
    }
     
  }