.inicio{
    background-image: url("img/beautiful-bloom-blooming-371393.jpg" );
    height: 320px;
    background-size: cover;
    background-position: center;

}
.inicio nav{
    position: relative;
    top: 5%;
    opacity: 0.6;
    border-radius: 10px;
}

.nome1{
    color: white;
    text-shadow: 2px 2px #000;
}
.nome,{
    color: white;
    position: relative;
    text-align: center;
    
}
.trab1 img {
    height: 500px;

}
.trabalhos-row{
    background-color:#b9b0b0;
}
.trabalhos{
    color: white;
    padding: 20px;
    text-align: center;
}
.no-gutters{ 
    height: 350px;
    overflow: hidden;
}
.contatos{
    background-color:#b9b0b6;
    color: white;
}
.card{
    margin:5px;
}